<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
                data-target="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/steps}"><i class="fas fa-list-ol"></i> Proces Dyplomowania</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/mythesis}"><i class="fas fa-scroll"></i> Moja Praca Dyplomowa</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/students}"><i class="fas fa-user-graduate"></i> Dyplomanci</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/admin}"><i class="fas fa-user-cog"></i> Narzędzia
                        Administracyjne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i> Ustawienia</a>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link" type="submit"><i class="fas fa-sign-out-alt"></i> Wyloguj
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body -->
<!-- small div under nav bar -->
<div class="container-fluid nopadding bgblack">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100 nopadding">
    <div class="row py-3 nopadding bg-light h-100">

        <!-- Left menu -->
        <div class="col-2 nopadding bgblack" id="sticky-sidebar">
            <div class="sticky-top ">
                <!-- Information left site -->
                <span th:utext="${leftPanelInfo}"> </span>

                <!-- buttons left site -->
                <div class="dropdown-divider"></div>
                <div class="btn-group-vertical d-flex" role="group">
                    <a href="/admin/students" type="button" class="btn btn-black btn-lg btn-block active"><i
                            class="fas fa-graduation-cap"></i> Dyplomanci
                    </a>
                    <a href="/admin/staff" type="button" class="btn btn-black btn-lg btn-block"><i
                            class="fas fa-user-tie"></i>
                        Pracownicy
                    </a>
                    <a href="/admin/groups" type="button" class="btn btn-black btn-lg btn-block"><i
                            class="fas fa-users"></i>
                        Grupy Kont
                    </a>
                    <a href="/admin/news" type="button" class="btn btn-black btn-lg btn-block"><i
                            class="far fa-newspaper"></i>
                        Aktualności
                    </a>
                    <a href="/admin/steps" type="button" class="btn btn-black btn-lg btn-block"><i
                            class="fas fa-list-ol"></i>
                        Proces Dyplomowania
                    </a>
                </div>
            </div>
        </div>

        <!-- Main body right site -->
        <div class="col" id="main">
            <div class="container-fluid">

                <!-- First row -->
                <div class="row padding border-bottom">
                    <!-- Froms -->
                    <div class="col-md-6 border-right">
                        <h3> Dodaj lub modyfikuj dyplomanta</h3>
                        <form action="#" th:action="@{/admin/students/save}" method="POST"
                              class="needs-validation" novalidate>
                            <div th:object="${newUser}">
                                <input type="hidden" th:field="*{user.id}">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="fname">Imię*</label>
                                        <input type="text" th:field="*{user.firstName}" class="form-control" id="fname"
                                               placeholder="Wprowadź imię studenta" required>
                                        <div class="invalid-feedback">To pole nie może być puste</div>
                                    </div>
                                    <div class="col">
                                        <label for="lname">Nazwisko(a)*</label>
                                        <input type="text" th:field="*{user.lastName}" class="form-control" id="lname"
                                               placeholder="Wprowadź naziwsko(a)" required>
                                        <div class="invalid-feedback">To pole nie może być puste</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label for="email">E-mail*</label>
                                        <input type="email" th:field="*{user.email}" class="form-control" id="email"
                                               placeholder="Wprowadź e-mail" required>
                                        <div class="invalid-feedback">Należy wprowadzić poprawny adres e-mail</div>
                                    </div>
                                    <div class="col">
                                        <label for="password">Hasło</label>
                                        <input type="text" class="form-control" id="password" disabled>
                                        <small class="form-text text-muted">Hasło zostanie wygenerowane automatycznie
                                            oraz
                                            przesłane na podany adres email</small>

                                    </div>
                                </div>
                                <div>
                                    <label for="department">Wydział/Kierunek/Tryb/Grupa</label>
                                    <select class="form-control" id="department" th:field="*{departmentId}">
                                        <option th:each="department : ${departments}" th:value="${department.id}"
                                                th:text="${department}"></option>
                                    </select>
                                </div>
                            </div>
                            <div th:object="${filterUsers}">
                                <input type="hidden" th:field="*{filterDepartmentId}">
                                <input type="hidden" th:field="*{filterStatusId}">
                            </div>

                            <div class="padding">
                                <button type="submit" class="btn btn-primary">Zatwierdź</button>
                                <small class="form-text text-muted">*Pole nie może być puste</small>
                            </div>
                        </form>
                    </div>

                    <!-- Instukcje -->
                    <div class="col-md-6">
                        <h3>Instrukcje</h3>
                        <b>Po kliknięciu przycisku zatwierdź:</b>
                        <ul>
                            <li>Zostanie utworzone w systemie konto z wprowadzonymi danymi</li>
                            <br>
                            <li>Wygenerowany oraz wysłany zostanie <b>e-mail</b> z potwierdzeniem na wprowadzony adres
                                email
                            </li>
                            <br>
                            <li>E-mail konta będzie stanowić <b>login</b> dzięki któremy użytkownik zaloguję sie do
                                aplikacji
                            </li>
                            <br>
                            <li><b>Automatycznie zostanie wygenerowane losowe <i style="font-weight: 900;">silne</i>
                                hasło które zostanie dołączone do wiadomości email</b></li>
                            <br>
                            <p><b>Akcje modyfikujące status pracy studenta są dostępne dopiero po zaakceptowaniu pracy przez promotora</b></p>
                            <button type="button" class="btn btn-success btn-sm"><i class="fas fa-check"></i>
                            </button>
                            <span style="font-weight: 500;">Ustaw status pracy na "Praca przyjęta i zatwierdzona"</span>
                            <br>
                            <button type="button" class="btn btn-warning btn-sm"><i class="fas fa-cog"></i></button>
                            <span style="font-weight: 500;">Modyfikuj rekord</span>
                            <br>
                            <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>
                            <span style="font-weight: 500;">Usuń rekord</span>
                            <br>
                            <button class="btn btn-secondary btn-sm"><i class="fas fa-pen"></i></button>
                            <span style="font-weight: 500;">Ustaw inny niestandardowy status pracy</span>
                            <br>
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-envelope"></i>
                            </button>
                            <span style="font-weight: 500;">Wyślij wiadomość do studenta</span>
                            <br>
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-mail-bulk"></i>
                            </button>
                            <span style="font-weight: 500;">Wyślij wiadomość do wszystkich studentów w tej grupie</span>
                        </ul>
                    </div>
                </div>

                <!-- 2nd row -->
                <div class="row padding">


                    <div class="col-md-12 padding">
                        <form action="#" th:action="@{/admin/students}" th:object="${filterUsers}" method="GET">
                            <div class="form-grid float-right">
                                <div class="form-row" style="font-weight: 300; font-style: italic;">
                                    <div class="col">
                                        <label for="departmentFilter">Filtruj po wydziele/kierunku/trybie/grupie</label>
                                    </div>
                                    <div class="col">
                                        <label for="statusFilter">Filtruj po statusie pracy</label>
                                    </div>
                                    <div class="col-1">

                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col">
                                        <select class="form-control" id="departmentFilter"
                                                th:field="*{filterDepartmentId}">
                                            <option th:value="null" th:text="'-'"></option>
                                            <option th:each="department : ${departments}" th:value="${department.id}"
                                                    th:text="${department}"></option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select class="form-control" id="statusFilter" th:field="*{filterStatusId}">
                                            <option th:value="null" th:text="'-'"></option>
                                            <option th:each="status : ${statuses}" th:value="${status.id}"
                                                    th:text="${status.name}"></option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <button type="submit" class="btn btn-primary" style="text-align:bottom;"><i
                                                class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </form>

                    </div>
                </div>

                <div class="row padding">

                    <!-- Table -->
                    <div class="col-md-12 padding">

                        <table class="table table-striped table-bordered table-hover tableFixHead"
                               th:if="${not #lists.isEmpty(departmentsOnlyStudents)}">
                            <div th:each="department : ${departmentsOnlyStudents}">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" colspan="7" style="text-align: center;">
                                        <span th:text="${department.department}"></span>
                                        <button type="button" class="btn btn-primary btn-sm float-right">
                                            <i class="fas fa-mail-bulk"></i>
                                        </button>
                                    </th>
                                </tr>
                                </thead>
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col" style="width: 5%">#</th>
                                    <th scope="col" style="width: 15%">Imię i nazwisko</th>
                                    <th scope="col" style="width: 10%">E-mail</th>
                                    <th scope="col" style="width: 15%">Promotor</th>
                                    <th scope="col" style="width: 20%">Temat pracy</th>
                                    <th scope="col" style="width: 25%">Status pracy</th>
                                    <th scope="col" style="width: 10%">Akcje</th>
                                </tr>
                                </thead>

                                <tbody th:each="user : ${department.users}">
                                <tr>
                                    <th scope="row"><span th:text="${#ids.seq('')}"></span></th>
                                    <td><span th:text="${user.firstName}"></span>
                                        <span th:text="${user.lastName}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${user.email}"></span>
                                    </td>
                                    <td><span th:text="${user?.studentTopic?.promoter}"></span></td>
                                    <td><span th:text="${user?.studentTopic?.subject}"></span></td>
                                    <td>
                                        <span th:text="${user?.studentTopic != null} ? ${user.studentTopic.status.name} : 'Nie wybrano tematu pracy'"></span>
                                        <div class="float-right" th:if="${user?.studentTopic?.status?.id > 7}">
                                                <button type="button"
                                                        class="btn btn-success btn-sm"
                                                        data-toggle="modal"
                                                        data-target="#confirmConfirm"
                                                        th:attrappend="data-target=${user.id}"
                                                th:disabled="${user?.studentTopic?.status?.id == 9}">
                                                        <i class="fas fa-check"></i>
                                                </button>

                                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                                                    data-target="#changeStatus"
                                                    th:attrappend="data-target=${user.id}">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/students(id=${user.id}, filterDepartmentId=${filterUsers.filterDepartmentId}, filterStatusId=${filterUsers.filterStatusId})}"
                                           class="btn btn-warning btn-sm"><i class="fas fa-cog"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                data-target="#deleteConfirm" th:attrappend="data-target=${user.id}, ">
                                            <i class="fas fa-ban"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fas fa-envelope"></i>
                                        </button>
                                    </td>
                                </tr>


                                <!-- Confirm change status to confirm - Button -->
                                <div class="modal fade" id="confirmConfirm" tabindex="-1" role="dialog"
                                     aria-labelledby="changeStatusTitle" th:attrappend="id=${user.id}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="changeStatusTitle">Potwierdź czynność</h4>
                                            </div>
                                            <div class="modal-body">
                                                Czy na pewno chcesz zmienić status tej pracy na "Praca przyjęta i
                                                zatwierdzona"?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Anuluj
                                                </button>
                                                <a th:href="@{/admin/student/setstatus(id=${user.id},add=true, setstatusto='Praca przyjęta i zatwierdzona', filterDepartmentId=${filterUsers.filterDepartmentId}, filterStatusId=${filterUsers.filterStatusId})}"
                                                   class="btn btn-success btn-sm">Potwierdź</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Confirm Delete - Button -->
                                <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog"
                                     aria-labelledby="deleteConfirmLabel" th:attrappend="id=${user.id}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <h4 class="modal-title" id="deleteConfirmLabel">Potwierdź usunięcie
                                                    użytkownika</h4>
                                            </div>
                                            <div class="modal-body">
                                                Czy na pewno chcesz usunąć tego użytkownika? <br>
                                                Operacji nie można cofnąć
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Anuluj
                                                </button>
                                                <a th:href="@{/admin/deleteUser(id=${user.id}, filterDepartmentId=${filterUsers.filterDepartmentId}, filterStatusId=${filterUsers.filterStatusId})}"
                                                   class="btn btn-danger btn-sm">Usuń
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Change status - Button -->
                                <div class="modal fade" id="changeStatus" tabindex="-1" role="dialog"
                                     aria-labelledby="deleteConfirmLabel" th:attrappend="id=${user.id}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form action="#" th:action="@{/admin/student/setstatus}" method="GET">
                                                <div class="modal-header">

                                                    <h4 class="modal-title" id="changeStatusConfirmLabel">Ustaw inny
                                                        status
                                                        pracy dyplomanta</h4>
                                                </div>

                                                <div class="modal-body">

                                                    <input type="hidden" th:name="id" th:value="${user.id}">
                                                    <div class="form-row border-bottom">
                                                        <label for="changeStatusTo">Wybierz istniejący
                                                            status:</label>

                                                        <select class="form-control" id="changeStatusTo"
                                                                th:name="setstatusto"
                                                                th:readonly="${#lists.size(statuses) <= 9}">
                                                            <option th:value="null" th:text="'-'"></option>
                                                            <option th:each="status : ${statuses}"
                                                                    th:if="${status.id} > 9"
                                                                    th:value="${status.name}"
                                                                    th:text="${status.name}"></option>
                                                        </select>
                                                    </div>

                                                    <div class="form-row padding">
                                                        <label for="newStatus">Lub ustaw oraz dodaj nowy
                                                            status:</label>

                                                        <input type="text" th:name="newStatusName"
                                                               id="newStatus" class="form-control" maxlength="50">
                                                        <div class="invalid-feedback">Status może mieć maksymalnie 50
                                                            znaków
                                                        </div>
                                                    </div>

                                                </div>

                                                <div th:object="${filterUsers}">
                                                    <input type="hidden" th:field="*{filterDepartmentId}">
                                                    <input type="hidden" th:field="*{filterStatusId}">
                                                </div>

                                                <div class="modal-footer">
                                                    <span class="float-left-absolute">
                                                        <button type="submit" th:name="add" th:value="false" class="btn btn-danger btn-sm" onclick="clicked();">Usuń wybrany status</button>
                                                    </span>
                                                    <button type="button" class="btn btn-default btn-sm"
                                                            data-dismiss="modal">
                                                        Anuluj
                                                    </button>
                                                    <button type="submit" th:name="add" th:value="true" class="btn btn-success btn-sm">Ustaw status</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                </tbody>
                            </div>
                        </table>
                        <div th:if="${#lists.isEmpty(departmentsOnlyStudents)}">
                            <table class="table table-striped table-bordered table-hover tableFixHead">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imię i nazwisko</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Promotor</th>
                                    <th scope="col">Status pracy</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="alert alert-info text-justify" role="alert">
                                <b><i>Nie utworzono jeszcze żadnego dyplomanta</i></b>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>

</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<script type="text/javascript">
    function clicked() {
       if (confirm('Czy na pewno chcesz usunąć status??')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }

</script>

</body>

</html>