<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
                data-target="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/steps}"><i class="fas fa-list-ol"></i> Proces Dyplomowania</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/mythesis}"><i class="fas fa-scroll"></i> Moja Praca Dyplomowa</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/students}"><i class="fas fa-user-graduate"></i> Dyplomanci</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" th:href="@{/admin}"><i class="fas fa-user-cog"></i> Narzędzia
                        Administracyjne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i> Ustawienia</a>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link" type="submit"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body -->
<!-- small div under nav bar -->
<div class="container-fluid nopadding bgblack">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100 nopadding">
    <div class="row py-3 nopadding bg-light h-100">

        <!-- Left menu -->
        <div class="col-2 nopadding bgblack" id="sticky-sidebar">
            <div class="sticky-top ">
                <!-- Information left site -->
                <span th:utext="${leftPanelInfo}"> </span>

                <!-- buttons left site -->
                <div class="dropdown-divider"></div>
                <div class="btn-group-vertical d-flex" role="group">
                    <a href="/admin/students" type="button" class="btn btn-black btn-lg btn-block"><i
                            class="fas fa-graduation-cap"></i> Dyplomanci
                    </a>
                    <a href="/admin/staff" type="button" class="btn btn-black btn-lg btn-block"><i class="fas fa-user-tie"></i>
                        Pracownicy
                    </a>
                    <a href="/admin/groups" type="button" class="btn btn-black btn-lg btn-block"><i class="fas fa-users"></i>
                        Grupy Kont
                    </a>
                    <a href="/admin/news" type="button" class="btn btn-black btn-lg btn-block"><i class="far fa-newspaper"></i>
                        Aktualności
                    </a>
                    <a href="/admin/steps" type="button" class="btn btn-black btn-lg btn-block active"><i class="fas fa-list-ol"></i>
                        Proces Dyplomowania
                    </a>
                </div>
            </div>
        </div>

        <!-- Main body right site -->
        <div class="col" id="main">
            <div class="container-fluid ">

                <!-- First row -->
                <div class="row padding border-bottom">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h3> Zmień stronę z proesem dyplomowania</h3>
                        <form action="#" th:action="@{/admin/steps/save}" method="POST">
                            <div class="form-row">
                                <div class="col-12">
                                    <label for="content">Wprowadź treść strony (html) która będzie się wyświetlać pod
                                        zakładką Proces Dyplomowania</label>
                                    <textarea class="form-control" id="content" rows="30" th:text="${content}" th:name="content"></textarea>
                                </div>
                            </div>
                            <div class="padding float-right">
                                <button type="submit" class="btn btn-primary">Aktualizuj</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row padding">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('content').addEventListener('keydown', function(e) {
  if (e.key == 'Tab') {
    e.preventDefault();
    var start = this.selectionStart;
    var end = this.selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    this.value = this.value.substring(0, start) +
      "\t" + this.value.substring(end);

    // put caret at right position again
    this.selectionStart =
      this.selectionEnd = start + 1;
  }
});
</script>
</body>

</html>