<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body style="height: 100%;">
<!-- Navigation -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
    </div>
</nav>

<!-- Main body -->

<!-- small div under nav bar -->
<div class="container-fluid nopadding" style="background-color:black; ">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100">
    <div class="row h-100 ">


        <div class="col-3" style="background-color:rgba(0, 0, 0, 0.90)"></div>

        <!-- Main body right site -->

        <div class="col-6 bg-light">
            <div class="row" style="border-bottom: 1px solid #333;">
                <div class="col-4"></div>
                <div class="col-4">
                    <h4 style="padding-top: 2rem; ">Zaloguj</h4>
                </div>
                <div class="col-4"></div>
            </div>

            <div class="row">
                <div class="col-4" style="border-right: 1px solid #333;"></div>
                <div id="loginbox" style="margin-top: 0px;"
                     class="col-4">

                    <div class="panel panel-info">

                        <div style="padding-top: 15x;" class="panel-body">
                            <!-- Place for messages: error, alert etc ... -->
                            <div class="row" style="margin-top:1rem;">
                                <div class="col">
                                    <div style="height:65px">
                                        <!-- Check for login error -->
                                        <div th:if="${param.error}"
                                             class="alert alert-danger">
                                            Nieprawidłowy e-mail lub hasło
                                        </div>

                                        <!-- Check for logout -->
                                        <div th:if="${param.logout}"
                                             class="alert alert-success">
                                            Zostałeś wylogowany
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- Login Form -->
                                    <form th:action="@{/authenticateTheUser}"
                                          method="POST" class="form-horizontal">

                                        <!-- User name -->
                                        <div style="margin-bottom: 25px" class="input-group">

                                            <label style="margin:0 auto;" for="email"><b><i class="fas fa-at"
                                                                                            style="padding-top:11px; padding-right:3px"></i></b></label>
                                            <input type="text" name="username" placeholder="E-mail" class="form-control"
                                                   id="email">
                                        </div>

                                        <!-- Password -->
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <label style="margin:0 auto;" for="password"><b><i class="fas fa-unlock"
                                                                                               style="padding-top:11px; padding-right:3px"></i></b></label>
                                            <input type="password" name="password" placeholder="Hasło"
                                                   class="form-control"
                                                   id="password">
                                        </div>
                                        <!-- Login/Submit Button -->
                                        <div style="margin-top: 10px; padding-right:5px;" class="text-right">
                                            <button type="submit" class="btn btn-success"><i
                                                    class="fas fa-sign-in-alt"></i>
                                                Zaloguj
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-4" style="border-left: 1px solid #333;"></div>
            </div>


        </div>

        <div class="col-3" style="background-color:rgba(0, 0, 0, 0.90)"></div>
    </div>
</div>


</body>

</html>