<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
                data-target="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/steps}"><i class="fas fa-list-ol"></i> Proces Dyplomowania</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link active" th:href="@{/mythesis}"><i class="fas fa-scroll"></i> Moja Praca Dyplomowa</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/students}"><i class="fas fa-user-graduate"></i> Dyplomanci</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin}"><i class="fas fa-user-cog"></i> Narzędzia
                        Administracyjne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i> Ustawienia</a>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link" type="submit"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body -->
<!-- small div under nav bar -->
<div class="container-fluid nopadding bgblack">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100 nopadding">
    <div class="row py-3 nopadding bg-light h-100">

        <!-- Left menu -->
        <div class="col-2 nopadding bgblack" id="sticky-sidebar">
            <div class="sticky-top ">
                <!-- Information left site -->
                <span th:utext="${leftPanelInfo}"> </span>
            </div>
        </div>

        <!-- Main body right site -->
        <div class="col" id="main">

            <!-- With topic, waiting for promoter decision -->
            <div class="container-fluid"
                 th:if="${loggedUser?.studentTopic?.status?.name == 'Zaproponowano temat' or loggedUser?.studentTopic?.status?.name == 'Aplikowano o Temat promotora'}">

                <!-- row 1 -->
                <div class="row padding border-bottom">

                    <!-- options to choose from -->
                    <div class="col-6 padding border-right">
                        <h3 c><i class="fas fa-hourglass-half"></i> Czekaj na decyzję promotora</h3>
                        <div class=" padding border-bottom">
                            <h5 class="padding">Aplikujesz uznanie tematu:</h5>
                            <span th:text="${loggedUser.studentTopic.subject}"></span>
                            <h5 class="padding">U promotora:</h5>
                            <span th:text="${loggedUser.studentTopic.promoter?.academicTitle}"></span>
                            <span th:text="${loggedUser.studentTopic.promoter?.firstName}"></span>
                            <span th:text="${loggedUser.studentTopic.promoter?.lastName}"></span>
                        </div>
                        <div class="padding">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#undo">
                                <i class="fas fa-times"></i> Anuluj
                            </button>
                        </div>

                        <!-- Confirm undo appluy - Button -->
                        <div class="modal fade" id="undo" tabindex="-1" role="dialog"
                             aria-labelledby="deleteConfirmLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="deleteConfirmLabel">Potwierdź anulowanie</h4>
                                    </div>
                                    <div class="modal-body">
                                        Czy na pewno chcesz anulować aplikacje o uznanie tematu? <br>
                                        Operacji nie można cofnąć
                                    </div>
                                    <div class="modal-footer">
                                        <form action="#" th:action="@{/mythesis/undoapply}" method="POST">
                                            <div class="padding">
                                                <input type="hidden" th:name="diplomaId"
                                                       th:value="${loggedUser.studentTopic.id}">
                                                <button class="btn btn-danger"> Anuluj aplikacje</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Progress -->
                    <div class="col-6 padding">
                        <div class="row">
                            <div class="col">
                                <h5 th:text="${loggedUser.studentTopic.subject}"></h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <br>
                                <ul style="list-style-type:none">
                                    <li style="color:green;"><i class="fas fa-check"></i> Twoje konto zostało utworzone
                                    </li>
                                    <li style="color:green;"><i class="fas fa-check"></i> Utworzyłeś własny temat</li>
                                    <li style="color:green;"><i class="fas fa-check"></i> Aplikujesz o temat u wybranego
                                        promotora
                                    </li>
                                    <li><i class="far fa-dot-circle"></i> Czekaj na decyzję promotora</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row padding">
                            <div class="col">
                                <h5>Instrukcje</h5>
                                <br>
                                <ul>
                                    <li>
                                        Czekaj na <b style="color:green">pozytywną</b> lub <b
                                            style="color:red">negatywną</b> decyzję potencjalnego promotora
                                    </li>
                                    <br>
                                    <li>
                                        W każdej chwili możesz anulować swoją aplikację
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="pw" role="dialog"
     aria-labelledby="confirmLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Wyślij wiadomość:</h4>
            </div>
            <form action="#" th:action="@{/sendMail}" method="POST"
                  class="needs-validation" novalidate>
                <div class="modal-body">
                    <label for="content">Treść wiadomości:</label>
                    <textarea class="form-control" id="content" rows="7" th:name="content"
                              required></textarea>
                    <div class="invalid-feedback">To pole nie może pozostać puste</div>
                    <input type="hidden" th:name="url" th:value="${#httpServletRequest.requestURI}">
                    <input type="hidden" th:name="pwID" id="pwID">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Anuluj
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-sm">Wyślij
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeValue(myid)
    {
        document.getElementById('pwID').value = myid;
    }
</script>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>

</html>