<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body class="bg-light">
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
                data-target="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/steps}"><i class="fas fa-list-ol"></i> Proces Dyplomowania</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link active" th:href="@{/mythesis}"><i class="fas fa-scroll"></i> Moja Praca Dyplomowa</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/students}"><i class="fas fa-user-graduate"></i> Dyplomanci</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROMOTER')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                    <a class="nav-link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin}"><i class="fas fa-user-cog"></i> Narzędzia
                        Administracyjne</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i> Ustawienia</a>
                </li>
                <li class="nav-item">
                    <form action="#" th:action="@{/logout}" method="POST">
                        <button class="btn btn-link nav-link" type="submit"><i class="fas fa-sign-out-alt"></i> Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body -->
<!-- small div under nav bar -->
<div class="container-fluid nopadding bgblack">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100 nopadding">
    <div class="row py-3 nopadding bg-light h-100">

        <!-- Left menu -->
        <div class="col-2 nopadding bgblack" id="sticky-sidebar">
            <div class="sticky-top ">
                <!-- Information left site -->
                <span th:utext="${leftPanelInfo}"> </span>
            </div>
        </div>

        <!-- Main body right site -->
        <div class="col" id="main">
            <!-- Without topic-->
            <div class="container-fluid" th:if="${loggedUser.studentTopic == null}">

                <!-- row 1 -->
                <div class="row padding border-bottom">

                    <!-- options to choose from -->
                    <div class="col-6 border-right text-center">
                        <h3>Nie masz jeszcze przypisanego tematu pracy</h3>
                        <div class="row padding">
                            <div class="col-6 border-right">
                                <h5>Utwórz własny temat korzystając z formularza poniżej <i
                                        class="fas fa-arrow-down"></i></h5>
                            </div>
                            <div class="col-6 border-right">
                                <h5>Przejdz do strony <a class="link" th:href="@{/topics}"><i class="fas fa-book"></i> Tematy</a> i
                                    aplikuj o wybrany temat</h5>
                            </div>
                        </div>
                    </div>

                    <!-- Progress -->
                    <div class="col-6 padding">
                        <h5><i>Nie wybrano jeszcze tematu pracy</i></h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <ul style="list-style-type:none">
                            <li style="color:green;"><i class="fas fa-check"></i> Twoje konto zostało utworzone</li>
                            <li><i class="far fa-dot-circle"></i> Utwórz własny temat lub aplikuj o jeden z tematów</li>
                        </ul>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row padding border-bottom">
                    <div class="col-6 border-right">
                        <h5>Utwórz własny temat</h5>
                        <form action="#" th:action="@{/mythesis/save}" th:object="${diplomaTopic}" method="POST"
                              class="needs-validation" novalidate>
                            <input type="hidden" th:field="*{id}">
                            <div class="form-row">
                                <div class="col">
                                    <label for="title">Temat twojej pracy*</label>
                                    <input type="text" th:field="*{subject}" class="form-control"
                                           id="title"
                                           placeholder="Wprowadź temat pracy" maxlength="50" required>
                                    <div class="invalid-feedback">To pole nie może być puste</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label for="description">Krótki opis tematu</label>
                                    <textarea th:field="*{description}" class="form-control"
                                              id="description"
                                              placeholder="Wprowadź krótki opis tematu" maxlength="2000"
                                              rows="4"></textarea>
                                </div>
                            </div>

                            <div class="padding">
                                <button type="submit" class="btn btn-primary">Zatwierdź</button>
                                <small class="form-text text-muted">*Pole nie może być puste</small>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <h5>Instrukcje</h5>
                        <br>
                        <ul>
                            <li>
                                <b>Utwórz</b> własny temat lub <b>aplikuj</b> o jeden z gotowych tematów
                            </li>
                            <br>
                            <li>
                                Każdy student może utworzyć lub aplikować tylko <b>jeden</b> temat
                            </li>
                            <br>
                            <li>
                                Możesz modyfikować swoj temat lub jego opis tylko, jeśli <b>nie</b> aplikujesz o uznanie
                                tematu
                            </li>
                            <br>
                            <li>
                                Po zaaplikowaniu czekaj na <b style="color:green">pozytywną</b> lub <b
                                    style="color:red">negatywną</b> decyzję potencjalnego promotora
                            </li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pw" role="dialog"
     aria-labelledby="confirmLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Wyślij wiadomość:</h4>
            </div>
            <form action="#" th:action="@{/sendMail}" method="POST"
                  class="needs-validation" novalidate>
                <div class="modal-body">
                    <label for="content">Treść wiadomości:</label>
                    <textarea class="form-control" id="content" rows="7" th:name="content"
                              required></textarea>
                    <div class="invalid-feedback">To pole nie może pozostać puste</div>
                    <input type="hidden" th:name="url" th:value="${#httpServletRequest.requestURI}">
                    <input type="hidden" th:name="pwID" id="pwID">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                        Anuluj
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-sm">Wyślij
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function changeValue(myid)
    {
        document.getElementById('pwID').value = myid;
    }
</script>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</body>

</html>