<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDypFacilit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggler="collapse"
                data-target="navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-home"></i> Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/steps}"><i class="fas fa-list-ol"></i> Proces Dyplomowania</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}"><i class="fas fa-user-graduate"></i> Dyplomanci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mythesis}"><i class="fas fa-book"></i> Tematy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}"><i class="fas fa-user-cog"></i> Narzędzia
                        Administracyjne</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i> Ustawienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main body -->

<!-- small div under nav bar -->
<div class="container-fluid nopadding bgblack">
    <div class="column">&nbsp</div>
</div>

<!-- Left menu and main body -->
<div class="container-fluid h-100 nopadding">
    <div class="row py-3 nopadding bg-light h-100">

        <!-- Left menu -->
        <div class="col-2 nopadding bgblack" id="sticky-sidebar">
            <div class="sticky-top ">
                <!-- Information left site -->
                <p class="font-white">Zalogowano jako:<br> Imię Nazwisko</p>
                <p class="font-white">inne informacje</p>
            </div>
        </div>

        <!-- Main body right site -->
        <div class="col" id="main">
            <div class="container-fluid">
                <!-- First row -->
                <div class="row padding border-bottom">

                    <!--User data-->
                    <div class="col-6 border-right">
                        <h3><b>Twoje dane</b></h3>

                        <div class="form-row">
                            <div class="col-6">
                                <label for="title">Tytuły/Stopnie naukowe</label>
                                <input type="text" th:value="${user.academicTitle}" class="form-control" id="title"
                                       placeholder="Wprowadź tytuł/stopień naukowy" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="fname">Imię*</label>
                                <input type="text" th:value="${user.firstName}" class="form-control" id="fname"
                                       placeholder="Wprowadź imię pracownika" disabled>
                            </div>
                            <div class="col">
                                <label for="lname">Nazwisko(a)*</label>
                                <input type="text" th:value="${user.lastName}" class="form-control" id="lname"
                                       placeholder="Wprowadź naziwsko(a)" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="department">Wydziały/Kieruneki/Tryby/Grupy</label>
                                <select multiple class="form-control" id="department" disabled>
                                    <option th:each="department : ${user.departments}" th:value="${department.id}"
                                            th:text="${department}"></option>
                                </select>
                                <span th:each="department : *{departments}" th:text="${department}"></span>
                            </div>
                        </div>

                        <div class="padding">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm">
                                Zgłoś
                                błędne dane
                            </button>
                        </div>


                        <div class="modal fade" id="confirm" tabindex="-1" role="dialog"
                             aria-labelledby="confirmLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title" id="deleteConfirmLabel">Zgłoś błędnie dane</h4>
                                    </div>
                                    <form action="#" th:action="@{/settings/report}" method="POST"
                                          class="needs-validation" novalidate>
                                        <div class="modal-body">
                                            <label for="content">Opisz problem:</label>
                                            <textarea class="form-control" id="content" rows="7" th:name="content"
                                                      required></textarea>
                                            <div class="invalid-feedback">To pole nie może pozostać puste</div>
                                            <input type="hidden" th:name="userId" th:value="${user.id}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                                Anuluj
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-primary btn-sm">Zgłoś
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--change password-->
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6 h-100 border-right">
                                <h3><b>Zmień hasło</b></h3>
                                <form action="#" th:action="@{/settings/changePassword}" class="needs-validation" method="POST" novalidate>
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="pass">Wprowadź nowe hasło:</label>
                                            <input type="password" class="form-control" id="pass"
                                                   placeholder="Wprowadź nowe hasło" minlength="8" maxlength="72" th:name="password" required>
                                            <div class="invalid-feedback">Hasło musi mieć długość minimu 8 a maksimum 72 znaków</div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col">
                                            <label for="pass2">Powtórz hasło:</label>
                                            <input type="password" class="form-control" id="pass2"
                                                   placeholder="Powtórz hasło" minlength="8" maxlength="72" th:name="password2" required>
                                            <div class="invalid-feedback">Hasło musi mieć długość minimu 8 a maksimum 72 znaków</div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col text-right padding">
                                            <button type="submit"
                                                    class="btn btn-primary">Zmień hasło
                                            </button>
                                        </div>
                                    </div>


                                </form>
                            </div>
                            <div class="col-6 h-100">
                                <H4><b>Hasło musi zawierać:</b></H4>
                                <ul>
                                    <li>Minimum <b>8</b> znaków</li>
                                    <li>Maksimum <b>72</b> znaki</li>
                                </ul>
                                <H5><b>Hasło powinno zawierać:</b></H5>
                                <ul>
                                    <li><b>Cyfry</b> lub <b>znaki</b> specjalne</li>
                                    <li><b>Wielkie</b> i <b>małe</b> litery</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();







</script>
</body>

</html>